/* CSS Document */
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-auto-rows: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  background-color: #333;
  margin: 0 auto;
  width: 100%; }

header {
  grid-area: header;
  background-color: #252831; }

main {
  grid-area: main;
  display: grid;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  width: 100%; }

footer {
  grid-area: footer;
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
  border-left: 5px solid darkred;
  border-right: 5px solid silver; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  text-align: center;
  margin: 30px 0 30px 0; }

nav h1 {
  width: 60%;
  border-left: 5px solid darkred;
  border-right: 5px solid silver;
  margin: auto; }

#title, nav a {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: white; }

/* ====================== Nav Skip Link ====================== */
#skip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: darkred;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }

#skip:active,
#skip:focus,
#skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible; }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #252831;
  border-bottom: 5px solid black;
  align-items: center;
  text-align: center;
  padding: 10px; }

.filter-options label {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: -1px;
  border: 0; }

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1; }

.filter-options select {
  border-radius: 0px;
  border-left: 5px solid darkred;
  border-right: 5px solid silver;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 70%;
  height: 40px;
  align-content: center;
  text-align: center; }

/* =========== Navigation breadcrum ====================== */
#breadcrumb {
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }

/* Display list items side by side */
#breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  padding-left: 10px;
  color: darkred;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

/* ======================= Restaurant Detail ==+===================== */
#restaurant-container {
  border-top: 2px solid darkred;
  width: 100%;
  margin: 0;
  color: white;
  align-content: center; }

#restaurant-container img {
  width: 100%;
  border-bottom: 4px solid black;
  border-top: 2px solid silver; }

#restaurant-container h1, h2, h3 {
  text-align: center; }

#reviews-container {
  background-color: white;
  padding: 30px;
  border-top: 5px solid black; }

#reviews-container li {
  border-top: 2px solid darkred;
  list-style: none; }

#restaurant-hours {
  padding: 20px; }

ul {
  padding: 0;
  margin: 0; }

/* ======================= Restaurant Cards ==+===================== */
#cards {
  display: grid;
  grid-gap: 4rem;
  background-color: #333;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  align-content: center;
  text-align: center; }

.card {
  display: grid;
  grid-template-areas: "img" "img" "info";
  grid-gap: 0;
  width: 100%;
  background: white;
  border-top: 2px solid silver;
  border-bottom: 6px solid black; }

.card img {
  grid-area: img;
  width: 100%;
  min-width: 241px; }

.card-info {
  grid-area: info;
  white-space: nowrap; }

.card h1 {
  font-size: 1.5rem;
  color: white;
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  background-color: darkred;
  border-bottom: 2px solid silver; }

.card p {
  line-height: 2;
  font-size: 1.5em;
  margin: 2px; }

.card a {
  color: darkred;
  font-family: 'Righteous', cursive;
  font-size: 2rem; }

/* ====================== @Media > 700 ====================== */
@media screen and (min-width: 700px) {
  body {
    font-size: 12pt; }
  #cards {
    grid-template-columns: repeat(2, 1fr); }
  .card img {
    min-width: 329px; }
  .card h1 {
    font-size: 1em; }
  .card p {
    font-size: 1em; }
  .card a {
    font-size: 1.5em; }
  .filter-options select {
    width: 300px; } }

/* ====================== @Media > 1060 ====================== */
@media screen and (min-width: 1060px) {
  body {
    font-size: 14pt; }
  #cards {
    grid-template-columns: repeat(3, 2fr); } }

/* ====================== @Media > 1200 ====================== */
@media screen and (min-width: 1200px) {
  #cards {
    grid-template-columns: repeat(4, 3fr); } }
