@charset "utf-8";
/* CSS Document */

// Fields
// Ultimate bg color
$primary_bg: #333;
// Header, Filter, Footer
$secondary_bg: #252831;
// left hand vertical line highlight
$highlight_primary: darkred;
$highlight_secondary: silver;


body {
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
	background-color: $primary_bg;
	margin: 0 auto;
  width: 100%;
}

header {
  background-color: $secondary_bg;
}

main {
  display: grid;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  background-color: $secondary_bg;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
  border-left: 5px solid $highlight_primary;
  border-right: 5px solid $highlight_secondary;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  text-align:center;
  margin: 30px 0 30px 0;
}
nav h1 {
  width: 60%;
  border-left: 5px solid $highlight_primary;
  border-right: 5px solid $highlight_secondary;
  margin: auto;
}

#title, nav a {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: white;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: $secondary_bg;
  border-bottom: 5px solid black;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
}
.filter-options select {
  border-radius: 0px;
  border-left: 5px solid $highlight_primary;
  border-right: 5px solid $highlight_secondary;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 70%;
  height: 40px;
  align-content: center;
  text-align: center;
}

/* ======================= Restaurant Cards ==+===================== */
#cards {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 4rem;
  // background-color: #f3f3f3;
  background-color: $primary_bg;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  align-content: center;
  text-align: center;
}

.card {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr auto;
  background: white;
  border-top: 2px solid $highlight_secondary;
  border-bottom: 6px solid black;
}

.card img {
  width: 100%;
}

.card-info {
  width: 100%;
}

.card-info h1 {
  font-size: 2em;
  color: white;
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  background-color: $highlight_primary;
  border-bottom: 2px solid $highlight_secondary;
  // border-left: 5px solid $highlight_left;
  // border-right: 5px solid $highlight_right;
}

.card-info p {
  font-size: 2em;
  margin: 2px;
}

.card-info a {
  color: $highlight_primary;
  font-family: 'Righteous', cursive;
  font-size: 20pt;
}

/* =========== Navigation breadcrum ====================== */
#breadcrumb {
  // padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  // padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ======================= Restaurant Detail ==+===================== */
#restaurant-container {
  border-top: 2px solid $highlight_primary;
  width: 100%;
  // padding: 30px;
  margin: 0;
  color: white;
  // background-color: white;
  align-content: center;
}

#restaurant-container img {
  width: 100%;
  border-bottom: 4px solid black;
  border-top: 2px solid $highlight_secondary;
}

#restaurant-container h1, h2, h3 {
  text-align: center;
  // background-color: $highlight_primary;
}

#reviews-container {
  background-color: white;
  padding: 30px;
  border-top: 5px solid black;
}

#reviews-container li {
  border-top: 2px solid $highlight_primary;
  list-style: none;
}

#restaurant-hours {
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

/* ====================== @Media > 500 ====================== */

